.game-panel-container {
  background-color: #eee;
  box-shadow: 1px 1px 3px 1px #ddd;
  margin-top: 10px;
  position: absolute;
  border: 3px solid #aaa;
  width: 700px;
  left: 50%;
  top: 50%;
  border-radius: 3px;
  padding: 10px;
  transform: translate(-50%, -50%);
  @include phone-only-css {
    width: 90%;
  }
  h3 {
    text-transform: uppercase;
    text-align: center;
  }
  .login-form {
    text-align: center;
    padding: 20px;
    &_field {
      width: 250px;
      margin: auto;
      padding: 0px 0px 10px 0px;
      .MuiInput-root,
      .MuiFormControl-root {
        width: 100%;
      }
      button {
        width: 100%;
      }
    }
  }
  .game-container {
    position: relative;
    background-color: #ddd;
    left: 50%;
    transform: translateX(-50%);
    margin: 30px 0px 0px 0px;
    display: grid;
    grid-template-columns: auto auto auto;
    width: fit-content;
    button {
      height: 100px;
      width: 100px;
      border: 1px solid #aaa;
    }
    button.symbol_1,
    button.symbol_0 {
      background-color: #bbb;
      cursor: no-drop;
    }
  }
  .game-play-form {
    border: 1px solid #ddd;
    padding: 20px 0px 10px 0px;
    display: flex;
    justify-content: center;
    &_field {
      margin-left: 10px;
      > div {
        width: 160px;
      }
      button {
        height: 100%;
      }
    }
  }
}
